.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.chip-not-started{
  height: fit-content;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 10%;
  background-color: #E3C1C2;
}

.chip-in-progress{
  height: fit-content;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 10%;
  background-color: #F9F7E3;
}

.chip-completed{
  height: fit-content;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 10%;
  background-color: #d9eab4;
}

.flex-container{
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}